<% IF test_data %><pre><% test_data %></pre><% END%>
<!-- <div class="h4">Summary</div>
<div class="table-responsive">
	<table class="table table-condensed small">
		<thead>
			<tr>
				<th>Library Location</th>
				<th class="text-center">Balance ($)</th>
				<th>Transferred to Bursar</th>
			</tr>
		</thead>
		<tbody>
		<% FOREACH k IN fines_summary.keys %>
			<tr>
				<td><% k %></td>
				<td class="text-right <% IF fines_summary.$k.open < 0 %>text-warning<% END %><% IF fines_summary.$k.open > 0 %>text-success<% END %>"><strong><% fines_summary.$k.open %></strong></td>
				<td class="text-right <% IF fines_summary.$k.tran < 0 %>text-warning<% END %><% IF fines_summary.$k.tran > 0 %>text-success<% END %>"><% fines_summary.$k.tran %></td>
			</tr>
		</tbody>
		<% END %>
		<tfoot>
			<tr>
				<td>Total <% IF total_fines < 0 %>(debit)<% ELSE %><% IF total_fines > 0 %>(credit)<% ELSE %>&nbsp;<% END %><% END %></td>
				<td class="text-right"><strong><% total_fines %></strong></td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>
</div> -->

<% IF fines.size %>
<div class="h4">Details</div>
<div class="table-responsive">
	<table class="table table-condensed table-hover table-striped small">
		<thead>
			<tr>
				<th>Library</th>
				<th>Title</th>
				<th>Trans.<br />Date</th>
				<th>Trans.<br />Description</th>
				<th class="text-center">Credit ($)</th>
				<th class="text-center">Debit ($)</th>
				<th>Trans.<br />Status</th>
			</tr>
		</thead>
		<tbody>
		<% FOREACH f IN fines %>
			<tr>
				<td><% f.sublibrary %></td>
				<td><% f.title %></td>
				<td><% f.transaction_date %></td>
				<td><% f.transaction_desc %></td>
				<td class="text-right"><% IF f.credit_debit == 'Credit' %><% f.fine_net_sum %><% ELSE %>&nbsp;<% END %></td>
				<td class="text-right"><% IF f.credit_debit == 'Debit' %><% f.fine_net_sum %><% ELSE %>&nbsp;<% END %></td>
				<td><% IF f.credit_debit == 'Credit' %>Credited<% ELSE %>Not Paid<% END %></td>
			</tr>
		<% END %>
		</tbody>
	</table> 
</div>
<% END %>