<div class="container">
	<form action="<% request.uri_base %>/request/test" method='POST' class="form-inline">
		<label for="sysid" class="control-label">System Id:</label>
		<input type="text" name="sysid" class="form-control">
		
		<label for="userid" class="control-label">Aleph Patron Id:</label>
		<input type="text" name="userid" class="form-control"> 
		<button type="submit" class="btn btn-primary">Request</button>
	</form>
</div>

