.dul-masthead-bar {
	margin-bottom: 1em;
}

.progress {
	height: 24px !important;
}

.progress .progress-bar {
	font-size: 14px !important;
	line-height: 20px !important;
}

.itm-progress {
  text-align: center;
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.userinfo {
	padding: 0.5em;
	margin-bottom: 0.5em;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-top: 2px solid #053482;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

th[aria-sort] {
  cursor: pointer;
}

.area-map-img {
  max-width: 35vw;
}

.request-type {
  flex: 1;
  padding: 0 1rem;

  display: flex;
  flex-flow: column;
}

.request-type-instructions {
  flex: 1;
}
.modal-body h2 {
  margin-top: 0;
}

.itab-container {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
}

.itab {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0.5em 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.itab-row, .itab-row-cb {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #053482;
}
.itab-row-header {
  width: 100%;
  display: flex;
  background-color: #053482;
  color: white;
}
.itab-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.2em 1em;
  overflow: hidden; 
  list-style: none;
}
.column-heading {
  background-color: #053482;
  color: white;
  padding: 1em;
}

.itab-cell--heading {
  display: none;
}

/* .itab-cell--content {
} */

a[aria-expanded=true] .fa-chevron-right {
  display: none;
}
a[aria-expanded=false] .fa-chevron-down {
  display: none;
}

#renewItems, #cancelHoldItems {
  margin-bottom: 1em;
}

.validate-warning {
  color: red;
  font-size: larger;
}
.btn-right {
  float: right;
}
/* Override .accordion-item border */
#fineDetails {
  border: none !important;
} 
  
/* Responsive
==================================== */
@media all and (min-width: 1025px) {
  .lib-cell  { width: 20%; }
  .coll-cell  { width: 25%; }
  .loc-cell  { width: 25%; }
  .status-cell { width:15%; }
  .request-cell { width:15%; }
  
  .desc-cell-d  { width: 20%; }
  .lib-cell-d  { width: 15%; }
  .coll-cell-d  { width: 15%; }
  .loc-cell-d  { width: 20%; }
  .status-cell-d { width:15%; }
  .request-cell-d { width:15%; }

  .lib-cell-b  { width: 15%; }
  .coll-cell-b  { width: 20%; }
  .loc-cell-b  { width: 20%; }
  .bc-cell-b  { width: 15%; }
  .status-cell-b { width:15%; }
  .request-cell-b { width:15%; }
  
  .desc-cell-db  { width: 20%; }
  .lib-cell-db  { width: 10%; }
  .coll-cell-db  { width: 15%; }
  .loc-cell-db  { width: 15%; }
  .bc-cell-db  { width: 10%; }
  .status-cell-db { width:15%; }
  .request-cell-db { width:15%; }

  .coll-cell-l  { width: 35%; }
  .loc-cell-l  { width: 35%; }
  .status-cell-l { width:15%; }
  .request-cell-l { width:15%; }

  .desc-cell-dl  { width: 25%; }
  .coll-cell-dl  { width: 20%; }
  .loc-cell-dl  { width: 25%; }
  .status-cell-dl { width:15%; }
  .request-cell-dl { width:15%; }

  .coll-cell-bl  { width: 25%; }
  .loc-cell-bl  { width: 25%; }
  .bc-cell-bl  { width: 20%; }
  .status-cell-bl { width:15%; }
  .request-cell-bl { width:15%; }
  
  .desc-cell-dbl  { width: 25%; }
  .coll-cell-dbl  { width: 15%; }
  .loc-cell-dbl  { width: 15%; }
  .bc-cell-dbl  { width: 15%; }
  .status-cell-dbl { width:15%; }
  .request-cell-dbl { width:15%; }

  .l-renew-cell  { width: 5%; }
  .l-author-cell  { width: 20%; }
  .l-title-cell  { width: 25%; }
  .l-year-cell  { width: 8%; }
  .l-lib-cell { width:14%; }
  .l-loc-cell { width:14%; }
  .l-due-cell { width:14%; }

  .f-lib-cell  { width: 18%; }
  .f-title-cell  { width: 25%; }
  .f-date-cell  { width: 10%; }
  .f-desc-cell  { width: 17%; }
  .f-credit-cell { width:10%; }
  .f-debit-cell { width:10%; }
  .f-cost-cell { display: none;}
  .f-status-cell { width:10%; }

  .h-cancel-cell  { width: 5%; }
  .h-author-cell  { width: 20%; }
  .h-title-cell  { width: 30%; }
  .h-date-cell  { width: 10%; }
  .h-lib-cell { width:20%; }
  .h-status-cell { width:15%; }

  .itab-row--sort {
    display: none;
  }
}

@media all and (min-width: 641px) and ( max-width: 1024px) {
  .itab--collapse  {
    
    /* padding: 1em;
    box-shadow: none; */

    .itab-row {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      border-bottom: 1px solid #053482;
    }

    .itab-row-cb {
      display: grid;
      grid-template-columns: 10% 45% 45%;
      grid-template-rows: auto;
      border-bottom: 1px solid #053482;
    }

    .itab-cell {
      box-sizing: border-box;
      display: flex;
      padding: 0.2em 1em;
      overflow: hidden; 
      list-style: none;
      width: 100%;
      align-items: center;

      .itab-cell--heading {
        display: inline-block;
        flex: 1;
        max-width: 20px;
        min-width: 20px;
        color: #053482;
        font-weight: 700;
      }

      .itab-cell--content {
        flex: 2;
        padding-left: 1em;
      }
    }

    .itab-hidden {
      display: none;
    }
  }

  .itab-row--head {
    display: none;
  }

  .lib-cell  { grid-area: 1; }
  .coll-cell  { grid-area: 2; }
  .loc-cell  { grid-area: 3; }
  .status-cell { grid-area: 1; }
  .request-cell { grid-area: 2; }
  
  .desc-cell-d  { grid-area: 1; }
  .lib-cell-d  { grid-area: 2; }
  .coll-cell-d  { grid-area: 3; }
  .loc-cell-d  { grid-area: 1; }
  .status-cell-d { grid-area: 2; }
  .request-cell-d { grid-area: 3; }

  .lib-cell-b  { grid-area: 1; }
  .coll-cell-b  { grid-area: 2; }
  .loc-cell-b  { grid-area: 3; }
  .bc-cell-b  { grid-area: 1; }
  .status-cell-b { grid-area: 2; }
  .request-cell-b { grid-area: 3; }
  
  .desc-cell-db  { grid-area: 1; }
  .lib-cell-db  { grid-area: 2; }
  .coll-cell-db  { grid-area: 3; }
  .loc-cell-db  { grid-area: 4; }
  .bc-cell-db  { grid-area: 1; }
  .status-cell-db { grid-area: 2; }
  .request-cell-db { grid-area: 3; }

  .coll-cell-l  { grid-area: 1; }
  .loc-cell-l  { grid-area: 2; }
  .status-cell-l { grid-area: 1; }
  .request-cell-l { grid-area: 2; }
  
  .desc-cell-dl  { grid-area: 1; }
  .coll-cell-dl  { grid-area: 2; }
  .loc-cell-dl  { grid-area: 3; }
  .status-cell-dl { grid-area: 1; }
  .request-cell-dl { grid-area: 2; }

  .coll-cell-bl  { grid-area: 1; }
  .loc-cell-bl  { grid-area: 2; }
  .bc-cell-dbl  { grid-area: 3; }
  .status-cell-bl { grid-area: 1; }
  .request-cell-bl { grid-area: 2; }
  
  .desc-cell-dbl  { grid-area: 1; }
  .coll-cell-dbl  { grid-area: 2; }
  .loc-cell-dbl  { grid-area: 3; }
  .bc-cell-dbl  { grid-area: 1; }
  .status-cell-dbl { grid-area: 2; }
  .request-cell-dbl { grid-area: 3; }

  .l-renew-cell  { grid-column: 1; grid-row: 2; }
  .l-author-cell  { grid-column: 2; grid-row: 1; }
  .l-title-cell  { grid-column: 2; grid-row: 2; }
  .l-year-cell  { grid-column: 2; grid-row: 3; }
  .l-lib-cell { grid-column: 3; grid-row: 1; }
  .l-loc-cell { grid-column: 3; grid-row: 2; }
  .l-due-cell { grid-column: 3; grid-row: 3; }

  .f-lib-cell  { grid-area: 1; }
  .f-title-cell  { grid-area: 2; }
  .f-date-cell  { grid-area: 3; }
  .f-desc-cell  { grid-area: 1; }
  .f-credit-cell { display: none !important; }
  .f-debit-cell { display: none !important; }
  .f-cost-cell { grid-area: 2; }
  .f-status-cell { grid-area: 3; }

  .h-cancel-cell  { grid-column: 1; grid-row: 2; }
  .h-author-cell  { grid-column: 2; grid-row: 1; }
  .h-title-cell  { grid-column: 2; grid-row: 2; }
  .h-date-cell  { grid-column: 3; grid-row: 1; }
  .h-lib-cell { grid-column: 3; grid-row: 2; }
  .h-status-cell { grid-column: 3; grid-row: 3; }
}

@media all and (max-width: 640px) {
  
  .itab--collapse  {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;

    .itab-row {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 0.7em;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      display: flex;
      flex-wrap: wrap;
    }
    .itab-row-cb {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 0.7em;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      display: grid;
      grid-template-columns: 10% 90%;
      grid-template-rows: auto;
    }
    
    .itab-cell {
      width: 100% !important;
      display: flex;
      align-items: center;

      .itab-cell--heading {
        display: inline-block;
        flex: 1;
        max-width: 20px;
        min-width: 20px;
        color: #053482;
        font-weight: 700;
      }

      .itab-cell--content {
        flex: 2;
        padding-left: 1em;
      }
    }
    
    .l-renew-cell  { grid-column: 1; grid-row: 3; }
    .l-author-cell  { grid-column: 2; grid-row: 1; }
    .l-title-cell  { grid-column: 2; grid-row: 2; }
    .l-year-cell  { grid-column: 2; grid-row: 3; }
    .l-lib-cell { grid-column: 2; grid-row: 4; }
    .l-loc-cell { grid-column: 2; grid-row: 5; }
    .l-due-cell { grid-column: 2; grid-row: 6; }

    .h-cancel-cell  { grid-column: 1; grid-row: 2; }
    .h-author-cell  { grid-column: 2; grid-row: 1; }
    .h-title-cell  { grid-column: 2; grid-row: 2; }
    .h-date-cell  { grid-column: 2; grid-row: 3; }
    .h-lib-cell { grid-column: 2; grid-row: 4; }
    .h-status-cell { grid-column: 2; grid-row: 5; }

    .desc-cell-d, .desc-cell-db, .desc-cell-dl, .desc-cell-dbl {
      background-color: #053482;
      color: white;
      font-weight: 700;
      order: -1;

      .itab-cell--content {
        padding-left: 0 !important;
      }
    }
    .f-credit-cell { display: none !important; }
    .f-debit-cell { display: none !important; }
    
    .itab-hidden { display: none; }
    .itab-row--head { display: none; }
  }

  .btn-right {
    float: none;
    text-align: center;
    margin-bottom: .5em;
  }
}